.userSearchFormContainer {
  display: flex;
  justify-content: space-between;

  height: 3rem;
  width: 100%;
}

.search {
  flex-basis: 100%;
}

.rateLimitCard {
  flex-basis: fit-content;

  border: 2px solid gray;
  color: black;

  border-radius: 10px;

  width: 100%;
  height: calc(100% - 4px);

  contain: content;
  padding: 0em 1em;
  margin-left: 1rem;
}

.easeRateLimitIn {
  animation: scaleWidthIn 1.2s ease-in-out forwards;
}

.rateLimitCard > * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.warning {
  transition: all 5s ease-in-out;
  border: 2px solid orange !important;
  color: orange !important;
}

.limitClose {
  transition: all 5s ease-in-out;
  border: 2px solid orangered !important;
  color: orangered !important;
}

.limitReached {
  transition: all 1s ease-in-out;
  border: 2px solid red !important;
  color: red;
}

.rateLimitCardError {
  animation: horizontalShake 300ms ease-in-out forwards;
}

@keyframes horizontalShake {
  0% {
    transform: translateX(0rem);
  }
  5% {
    transform: translateX(0.5rem);
  }
  10% {
    transform: translateX(-0.5rem);
  }
  20% {
    transform: translateX(0.5rem);
  }
  45% {
    transform: translateX(-0.5rem);
  }
  70% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes scaleWidthIn {
  0% {
    width: initial;
    flex-basis: initial;
  }
  0.0000000001% {
    width: 0%;
    flex-basis: 0%;
  }
  30% {
  }
  40% {
    margin-left: 1rem;
  }
  100% {
    width: 100%;
    margin-left: 1rem;
    flex-basis: fit-content;
  }
}
