:root {
  --card-text-color: white;
  --card-bg-color: gray;
}

a.limitedStyle {
  text-decoration: inherit;
  color: inherit;
}

.userCard {
  border-radius: 0.5rem;

  color: var(--card-text-color);
  background-color: var(--card-bg-color);

  min-width: 30rem;
  width: fit-content;
  max-width: 70ch;

  height: fit-content;

  margin: 2rem;
  padding: 0.5rem;

  cursor: pointer;
  contain: content;

  transition: all 150ms ease-in-out;
}

.userCard:hover,
.userCard:focus,
.userCard:focus-within {
  transition: transform 150ms 200ms ease-in-out;
  transform: scale(1.05);
}

.userCard:focus,
.userCard:focus-within {
  outline-color: invert;
  outline-style: solid;
  outline-width: 0.2rem;
}

.cardHeader {
  display: flex;
  gap: 1rem;
  align-items: flex-end;

  height: 100px;
}

.cardHeader > * {
  max-width: 100%;
  max-height: 100%;
}

.cardHeader > * > * {
  margin: 0;
}

.cardHeader > * > h2 {
  font-weight: lighter;
}

.userAvatar {
  border-radius: 0.5rem;
  object-fit: contain;
}

.cardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
}

.cardFooter > * {
  margin: 0;
  width: fit-content;
}

@media (width < 35rem) {
  .userCard {
    min-width: 18rem;
  }

  .cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    height: fit-content;
    text-align: center;
  }

  .userAvatar {
    width: 5rem;
  }

  .cardFooter {
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
}
