.container {
  height: 100%;
}

.header {
  font-size: 3em;
  font-weight: 900;

  margin-bottom: 0.5em;

  text-align: center;
}

.header > * {
  margin: 0rem;
}

.navigateHome {
  font-size: 2em;

  padding: 1em 2em;

  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
}

.navigateHome:focus,
.navigateHome:hover {
  cursor: pointer;
  background-color: rgba(133, 132, 132, 0.45);
  transition: background-color 150ms ease-in-out;
}

.navigateHome:focus {
  outline: black solid 2px;
}
