:root {
  --submit-button-width: 4em;

  --container-height: 3em;

  --container-width: 100%;
  --container-width-min: 250px;
  --container-width-max: 100vw;

  --border-radius: 10px;
  --border-width: 2px;

  --search-input-padding: 1em;
}

.searchContainer {
  position: relative;
  display: inline-block;

  height: var(--container-height);

  width: var(--container-width);
  min-width: var(--container-width-min);
  max-width: var(--container-width-max);
}

.searchInput {
  padding: var(--search-input-padding);
  padding-right: calc(var(--submit-button-width) + 0.25em);
  padding-left: 5px;

  font-size: 1em;

  border-style: solid;
  border-color: gray;
  border-width: var(--border-width);
  border-radius: var(--border-radius);

  height: 100%;
  width: 100%;

  transition: all 50ms ease-in-out;
}

.searchInput:focus {
  outline-style: solid;
  outline-width: var(--border-width);
  outline-color: invert;

  border: var(--border-width) solid transparent;
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: var(--submit-button-width);

  font-size: 1em;

  background-color: transparent;
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius);

  transition: all 50ms ease-in-out;
}

.searchButton:focus {
  outline-style: solid;
  outline-width: var(--border-width);
  outline-color: invert;
}

.searchButton:hover {
  cursor: pointer;
}

.searchButton:active {
  transform: scale(0.9);
}
