body {
  padding: 0rem 0.25rem;
}

html,
body,
#root,
main {
  height: 100%;
  width: 100%;

  margin: 0rem;
  box-sizing: border-box;
}

.appContainer {
  width: 100%;
  height: 100%;

  overflow-inline: scroll;

  display: grid;
  grid-template-rows: max-content auto;
}

/* Utility Classes */

.centerChildrenHorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerChildren {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fillParentWidth {
  width: 100%;
}

.fillParentHeight {
  height: 100%;
}

.visibilityHidden {
  visibility: hidden;
}
